<ion-header class="ion-no-border">
    <ion-toolbar>
      <img src="assets/images/head.png" class="images-responsive" />
    </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-content>
      <ion-item lines="full">
        <ion-label position="floating">Usuario
          <ion-icon ios="ios-information-circle" md="md-information-circle"></ion-icon>
        </ion-label>
        <ion-input maxlength="100" type="email" name="email" [(ngModel)]="user.usuario" required></ion-input>
      </ion-item>
      <ion-item lines="full">
  
        <ion-label position="floating">Password</ion-label>
        <ion-input type="password" minlength= "8" maxlength="30" [(ngModel)]="user.password" required></ion-input>
      </ion-item>


     
        <ion-row>
          <ion-col>
            <ion-button size="medium" type ="submit" (click)="showLoading();volver()">Volver</ion-button>
            <ion-button size="medium" type ="submit"(click)="showLoading();ingresar()">Ingresar</ion-button>

          </ion-col>
        </ion-row>  

    </ion-card-content>
  </ion-card>
  
</ion-content>
