
.registro{
    text-align: center;
    ion-button{
        font-size: 14px;
        color: rgb(21, 0, 255);
    }
}
ion-card{
    --ion-background-color: transparent;
    box-shadow: none !important;
    margin-top: 1px;
}
