//CSS LOGIN
ion-header{
    position: absolute;
}
ion-toolbar{
    --ion-background-color: transparent;
    --opacity: 0;
}

ion-content{
    --ion-background-color:#ffffff;
    
}

.login-express{
    margin-top: 5px;
    
}

.olvidar_password{
    text-align: right;
    ion-button{
        font-size: 14px;
    }
}
.registrate{
    text-align: center;
    ion-button{
        font-size: 14px;
        color: black;
    }
}

.btn-express{
    text-align: center;
    padding-top: 17px;
}

ion-card{
    --ion-background-color: transparent;
    box-shadow: none !important;
    margin-top: 1px;
}
