<ion-header class="ion-no-border">
  <ion-toolbar>
    <!-- <ion-title>Login</ion-title>-->
  </ion-toolbar>
  <ion-buttons slot="start">
    <ion-back-button defaulthref="login" text=""></ion-back-button>
  </ion-buttons>
</ion-header>

<ion-content>
  <form  #form="ngForm"> 
      <ion-card class="ion-no-margin">
        <ion-img routerLink="/home" src="assets/images/head.png"></ion-img>
        <ion-card-header>
          <ion-card-title>Hola {{recibiendo.email}}</ion-card-title>
          <ion-card-subtitle>Recupera tu contraseña</ion-card-subtitle>
        </ion-card-header>
        <ion-card-content>
          <div class="login-express">
            <ion-item lines="full" (click)="presentToast1()">
              <ion-label position="floating">Ingresa tu Email</ion-label>
              <ion-input minlength="3" type="email" name="email" [(ngModel)]="email" required></ion-input>
            </ion-item>
          </div>
          <div class="btn-express">
            <ion-button shape="round" [disabled]="form.invalid" color="dark" expand="block" fill="solid" (click)="presentAlert()">Enviar</ion-button>
          </div>
          <div class="registrate">
            <ion-button routerLink="/login" fill="clear" class="ion-no-padding">Volver</ion-button>
          </div>
        </ion-card-content>
      </ion-card>
  </form>
</ion-content>