<ion-header [translucent]="false">
  <ion-toolbar>
    <ion-title>
      Home Cliente
    </ion-title>
  </ion-toolbar>
  <ion-toolbar>
    <ion-segment value="cliente-misdatos" (ionChange)="segmentChanged($event)">
      <ion-segment-button  value="cliente-misdatos">
        <ion-icon name="person"></ion-icon>
      </ion-segment-button>
     
      <ion-segment-button value="reserva">
        <ion-icon name="car-outline"></ion-icon>
      </ion-segment-button>

      <ion-segment-button value="consultaPost">
        <ion-icon name="at-circle-outline"></ion-icon>
      </ion-segment-button>

    </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-content>
 
  <ion-router-outlet></ion-router-outlet>
</ion-content>