<ion-header>
  <ion-toolbar >
    <figure>
      <img class="imgLogo" src="../../assets/images/logo-ServiExpress.png"> 
      
    </figure>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div>
    <section>
      <h1 class="title">Bienvenido</h1>
      <h1 >{{recibir.usuario}}</h1>
    </section>
  </div>
  <ion-button expand="block">Agenda tu visita</ion-button>
  <br>
  <ion-button expand="block">Sucursales</ion-button>
  <!-- <ion-card>
    <ion-card-header>
      <ion-card-title>Agenda tu visita</ion-card-title>
      
    </ion-card-header>
  
 
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Sucursales</ion-card-title>
      
    </ion-card-header>
  
 
  </ion-card> -->


  </ion-content>