<ion-header>
  <ion-toolbar >
    <figure>
      <img class="imgLogo" src="../../assets/images/logo-ServiExpress.png"> 
      
    </figure>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-padding-vertical">
    <ion-card class="ion-text-center">
      <ion-card-title>
        <ion-label>
          <h1>Agenda tu visita!</h1>
        </ion-label>
      </ion-card-title>
  
      <ion-card-content>
        <ion-item>
          <ion-label position="floating">Servicio</ion-label>
          <ion-input type="text" [(ngModel)]="servicio"></ion-input>
        </ion-item>
  
        <ion-item>
          <ion-label position="stacked">Fecha Visita</ion-label>
          <ion-input type="text" [(ngModel)]="fecha"></ion-input>
        </ion-item>
      </ion-card-content>

      <ionic-fab vertical="button" horizontal="center" slot="fixed">
        <ion-fab-button (click)="takePicture()">
          <ion-icon name="camera"></ion-icon>
        </ion-fab-button>
      </ionic-fab>
      

      <ion-button shape="block" (click)="takePicture()">
        Take Snap
      </ion-button>
      <ion-button shape="block" (click)="guardar()">Generar Reserva</ion-button>
    </ion-card>
  
  </div>
  
  </ion-content>