<ion-header>
  <ion-toolbar>
    <ion-title>Registro Cliente</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content  >

  <ion-img src="assets/images/head.png"></ion-img>
  
  <div [formGroup]="formularioRegistro" (keyup.enter)="guardar()"> 
    
    <ion-grid>
      <ion-row justify-content-center>
        <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
          <div text-center>
            <h3> ¡Crea tu Cuenta!</h3>
          </div>
          <div padding>
            <ion-item>
              <ion-label position="floating">Rut</ion-label>
              <ion-input formControlname="rut"></ion-input>
            </ion-item>
            <ion-item>
              <ion-label position="floating">Nombre</ion-label>
              <ion-input  formControlname="nombre"></ion-input>
            </ion-item>
            <ion-item>
              <ion-label position="floating">Apellido</ion-label>
              <ion-input  formControlname="apellido" ></ion-input>
            </ion-item>
            <ion-item>
              <ion-label position="floating">Fecha nacimiento</ion-label>
              <ion-input  name="fechaNacimiento"></ion-input>
            </ion-item>
            <ion-item>
              <ion-label position="floating">Email</ion-label>
              <ion-input formControlname="email" ></ion-input>
            </ion-item>
            <ion-item>
              <ion-label position="floating">Dirección Particular</ion-label>
              <ion-input formControlname="direccionParticular" ></ion-input>
            </ion-item>
            <ion-item>
              <ion-label position="floating">Dirección Comercial</ion-label>
              <ion-input  formControlname="direccionComercial" ></ion-input>
            </ion-item>
            <ion-item>
              <ion-label position="floating">Celular</ion-label>
              <ion-input  formControlname="celular" ></ion-input>
            </ion-item>
            <ion-item>
              <ion-label position="floating">Teléfono Comercial</ion-label>
              <ion-input  formControlname="telefonoComercial"></ion-input>
            </ion-item>
            <ion-item>
              <ion-label position="floating">Contraseña</ion-label>
              <ion-input formControlname="password" ></ion-input>
            </ion-item>
            <ion-item>
              <ion-label position="floating">Confirmar Contraseña</ion-label>
              <ion-input formControlname="confirm"></ion-input>
            </ion-item>
          </div>
         
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>

  <ion-button expand="full" shape="round" type="submit" [disabled]="form.invalid" (click)="showLoading();guardar()" >Registrarme</ion-button>
  <br>
  <ion-button  expand="full" shape="round" type="submit" [routerLink] ="['/login-cliente']" >Volver</ion-button>
</ion-content>
