:host {
  font-family: var(--fonts-roboto);
  font: 1rem var(--fonts-weight-regular);
  color: var(--colors-gris-oscuro);
  background: var(ion-color-background-home);

  .imgLogo {
      height: 80%;
      width: 80%;
      margin: 0 auto;
      display: block;
      margin-left: auto;
  }

  ion-card img {
      width: 20%;
      height: 20%;
  }

  .home_page {
      display: block;
      background: var(--ion-color-background-home);
  }

  .menu {
      color: var(--colors-gris-oscuro);
  }


  .header {
      text-align: center;
      color: var(--colors-gris-oscuro);
  }

  .title {
      text-transform: capitalize;
      width: 100%;
      display: block;
      margin: 5;
      --padding: 1;
      font: 1.5rem;
      color: var(--colors-gris-oscuro);
      text-align: center;
      margin-bottom: 9px;
  }



  .subtitle {
      text-transform: capitalize;
      width: 100%;
      display: block;
      margin: 0;
      --padding: 0;
      font: 1rem;
      color: var(--colors-gris-oscuro);
      text-align: center;
      margin-bottom: 9px;
  }

  .texto {
      width: 100%;
      display: block;
      margin: 0;
      --padding: 0;
      font: 1rem;
      color: var(--colors-gris-oscuro);
      text-align: justify;
      margin-bottom: 9px;
  }

  .tituloCard {

      font: 3vh var(--fonts-weight-regular);
      color: var(--colors-gris-oscuro);
      margin: 0;
      padding: 0;
      display:block;
      text-align: center;
      
  }

  .md .tituloCard {

      font: 3vh var(--fonts-weight-regular);
      color: var(--colors-gris-oscuro);
      margin: 0;
      padding: 0;
      display:block;
      text-align: center;
  }



}