<ion-header class="ion-no-border">
  <ion-toolbar>
  </ion-toolbar>
  <ion-buttons slot="start">
    <ion-back-button defaulthref="login" text=""></ion-back-button>
  </ion-buttons>
</ion-header>

<ion-content slot="fixed">
  <form #form="ngForm" action="" [formGroup]="login"> 
      <ion-card lines="full" class="ion-no-margin">
        <ion-img routerLink="/landing-home" src="assets/images/head.png"></ion-img>
        <ion-card-content>
          <div class="login-express" slot="fixed">
            <ion-item lines="full">
              <ion-label position="fixed">RUT</ion-label>
              <ion-input type="text" name="rut" formControlName="rut"></ion-input>
            </ion-item>
            <ion-item lines="full">
              <ion-label position="fixed">Nombres</ion-label>
              <ion-input type="text" name="nombres" formControlName="nombres"></ion-input>
            </ion-item>
              <div *ngFor="let er of errors">
                <ng-container *ngIf="login.get('nombres').hasError(er.nombre) && (login.get('nombres').touched || login.get('nombres').dirty)">{{er.message}}</ng-container>
              </div>
            <ion-item lines="full">
              <ion-label position="fixed">Apellidos </ion-label>
              <ion-input type="text" name="apellidos" formControlName="apellidos"></ion-input>
            </ion-item>
              <div *ngFor="let er of errors">
                <ng-container *ngIf="login.get('apellidos').hasError(er.nombre) && (login.get('apellidos').touched || login.get('apellidos').dirty)">{{er.message}}</ng-container>
              </div>
            <ion-item lines="full">
              <ion-label position="fixed">Nacimiento</ion-label>
              <ion-input type="date" name="nacimiento" formControlName="nacimiento" placeholder=" "></ion-input>
            </ion-item>
              <div *ngFor="let er of errors">
                <ng-container *ngIf="login.get('nacimiento').hasError(er.nacimiento) && (login.get('nacimiento').touched || login.get('nacimiento').dirty)">{{er.message}}</ng-container>
              </div>
            <ion-item lines="full">
              <ion-label position="fixed">Email</ion-label>
              <ion-input type="email" name="email" formControlName="email"></ion-input>
            </ion-item>
              <div *ngFor="let er of errors">
                <ng-container *ngIf="login.get('email').hasError(er.email) && (login.get('email').touched || login.get('email').dirty)">{{er.message}}</ng-container>
              </div>
            <ion-item lines="full">
              <ion-label position="fixed">Contraseña</ion-label>
              <ion-input type="password" name="password" formControlName="password"></ion-input>
            </ion-item>
              <div *ngFor="let er of errors">
                <ng-container *ngIf="login.get('password').hasError(er.password) && (login.get('password').touched || login.get('password').dirty)">{{er.message}}</ng-container>
              </div>
            <ion-item lines="full">
              <ion-label position="fixed">Dirección</ion-label>
              <ion-input type="text" name="direccion" formControlName="direccion"></ion-input>
            </ion-item>
              <div *ngFor="let er of errors">
                <ng-container *ngIf="login.get('direccion').hasError(er.nombre) && (login.get('direccion').touched || login.get('direccion').dirty)">{{er.message}}</ng-container>
              </div>
            <ion-item lines="full">
              <ion-label position="fixed">Celular</ion-label>
              <ion-input type="tel" name="celular" formControlName="celular"></ion-input>
            </ion-item>
              <div *ngFor="let er of errors">
                <ng-container *ngIf="login.get('celular').hasError(er.celular) && (login.get('celular').touched || login.get('celular').dirty)">{{er.message}}</ng-container>
              </div>
          </div>
          <div class="btn-express">
            <ion-button (click)="presentAlert()" shape="round" [disabled]="form.invalid" type="submit" color="dark" expand="block" fill="solid">REGÍSTRATE</ion-button>
            <ion-button routerLink="/login" shape="round" color="dark" expand="block" fill="solid">VOLVER</ion-button>
          </div>
        </ion-card-content>
      </ion-card>
  </form>
</ion-content>
